body {
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
    background-color:rgba();
}
nav {
    display: flex;
    border-radius: 20px;
    justify-content:space-between;
    top: 50px;
    left: 20px;
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    font-style: italic;
    color: #837373;
    
}



nav ul {
    display: flex;
    list-style: none;
    background-color: #2b8dce; 
    top: 500px;
    left: 500px;
    height: 50px;
    

    
}
nav span{
    font-size: 30px;
}

nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 0 15px;
}

nav ul a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#menuh {
    display:none;
}

@media screen and (max-width: 390px) {
    #menu {
        display:initial;
        width: 5%;
    }

    nav ul {
        display: none;
    }
}
.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .item {
    height: 300px;
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .item img {
    
    width: 50%;

  }
  .button {
    margin-top: 10px;
    background-color: #29af0e;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  .button:hover {
    background-color: #2980b9;
  }