

*{
    margin: 0;
    font-family: Century gothic;
}
.img{
    clip-path: inset(0px 0px 30px 0px);
    width: 200px;
    margin: 0px;
}
footer{
    background:#F5F5F5;
    box-shadow: 15px 15px 15px  rgba(0, 0, 0, 0.164);
    height: auto;
    width: 100%;
    position: absolute;
    display: block;
    align-items: center;
    justify-items: center;
    padding-left: -500px;
    margin-left: -50px;
    
}
section{
    display: flex;
    align-items: center;
    padding: auto;
    height:450px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-left: -100px;
}



.contenedor1>li>a{
  background-color: rgba(0, 0, 255, 0.267);
  text-decoration: none;
  
  
}
.contenedor1>li{
    margin-bottom: 10px;
}
.btn{
    display: flex;
    align-items: center;
    width: 150px;
    height:40px;
    border: none;
    background-color: #F5F5F5;
}
.btn>a{
    text-decoration: none;
    width: 500px;
    height: 20px;
    padding-top: 5px;
    background-color: #F5F5F5;
}
.contenedor2>li>a{
    background-color: rgba(0, 0, 255, 0.226);
    text-decoration: none;
}
.nosotros{
    margin: 5px 15px 5px 0px;
    width:200px;
    height: 400px;
    display:grid;
    justify-items: center;
    padding: 5px;
    align-items: center;
    border: 1px solid rgba(83, 83, 83, 0.212);
    
}

.contenedor2{
    margin:5px  15px;
    width: 310px;
    height: 400px;
    padding: 5px;
    text-align: center;
    display: table-column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(83, 83, 83, 0.212);
}
.contenedor1{
    text-align: center;
    width: 250px;
    height: 400px;
    padding: 5px;
    display:grid;
    justify-content: center;

    margin: 5px 15px;
    border-radius: 5px;
    border: 1px solid rgba(83, 83, 83, 0.212);
    
}
.contenedor1:hover{
    border: 1px solid rgba(233, 131, 14, 0.575);
    width: 250px;
    height: 410px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
}
.contenedor2:hover{
    border: 1px solid rgba(233, 131, 14, 0.575);
    width: 310px;
    height: 410px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
}
.nosotros:hover{
    border: 1px solid rgba(233, 131, 14, 0.575);
    width: 200px;
    height: 410px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
}
.mapa:hover{
    border: 1px solid rgba(233, 131, 14, 0.575);
    width: 280px;
    height: 410px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
}
.btn-secundario{
    height: 20px;
    width: 90px;
    margin: 2px 2px 2px 10px;
    border: 0px;
    background-color: #F5F5F5;

}
.btn-secundario>a{
    text-decoration: none;
}
.sp:hover{
    margin: 5px;
    border-radius:5px;
    padding:5px;
    width: 100px;
    box-shadow:5px 0px 10px  rgba(0, 0, 0, 0.288);
}
.redes{
    display: flex;
    margin: 1px;
}

.mapa{
    text-align: center;
    margin: 5px 15px;
    width: 260px;
    height:400px;
    padding: 5px;
    border: 1px solid rgba(83, 83, 83, 0.212);
    font-weight: 800;
    color: rgba(0, 0, 0, 0.527);
}
.mapa>iframe{
    width: 260px;
    height:150px;
    margin-top: 5px;
}
@media screen {
    @media only screen and (min-width:800px) and (max-width:1300px){
        .contenedor1{
            border: none;
    
        }
        .contenedor2{
            border: none;
            padding: 5px;
        }
        .nosotros{
            border: none;
    
        }
        .mapa{
            border: none;
        }
        footer{
            height: 1000px;
        }
        .redes{
            margin-bottom: 30px;
        }
        .sp{
            height: 90px;
            width: 90px;
            padding: 5px;
            padding-top: 20px;
            
        }
        .btn-secundario{
            width: 90px;
            font-size: 15px;
            text-align: center;
            margin: 1px;

        }
        .texto{
            font-size: 10px;
        }
        .sp:hover{
            height: 90px;
            width: 90px;
            padding: 5px;
            padding-top: 20px;
        }
        .contenedor1:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 300px;
            height: 400px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .contenedor2:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 310px;
            height: 400px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .nosotros:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 200px;
            height: 400px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .mapa:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 250px;
            height: 400px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        
    }
   

    @media only screen and (min-width:600px) and (max-width:800px){
        footer{
            height: 1020px;
        }
        .contenedor1{
            border: none;
            width: 200px;
        }
        .contenedor2{
            border: none;
            width: 210px;
            height: 460px;
            padding: 10px;
        }
        .redes{
            display: grid;
            padding-left: 22px;
            
        }
        .sp{
            display: flex;
            align-items: center;
            margin-top: 12px;
        }

        .texto{
            font-size: 10px;
        }
        .sp:hover{
            height: 40px;
            width: 170px;
            box-shadow:5px 0px 10px  rgba(0, 0, 0, 0.288);
            margin-top: 12px;
        }
        
        .nosotros{
            border: none;
            width: 200px;
        }
        .mapa{
            margin-top: 10px;
            border: none;
            width: 230px;
            height: 460px;
        }
        .mapa:hover{
            width: 230px;
            height: 460px;
        }
        .mapa>iframe{
            width: 230px;
            height: 140px;
            margin-top: 55px;
        }
        .contenedor1:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 200px;
            height: 400px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .contenedor2:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 210px;
            height: 460px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .nosotros:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 200px;
            height: 400px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .mapa:hover{
            border: 1px solid rgba(233, 131, 14, 0.575);
            width: 230px;
            height: 460px;
            box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.288);
        }
        .mapa>iframe:hover{
            height: 195px;
            margin: 2px;
        }
        
    }

    @media only screen and (min-width:400px) and (max-width:600px){
        footer{
            height: 1910px;
        }
        .texto{
            font-size: 10px;
        }
    }
}